/*Обнуление*/
*{padding:0;margin:0;border:0;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}
/*--------------------*/
/*Обнуление*/
*{padding:0;margin:0;border:0;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}
/*--------------------*/
html{
    scroll-behavior: smooth;
}
body{
    background-color: rgb(237, 233, 233);
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}
a,button, .burger{
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);    
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow: hidden;
    position: relative;
}
.main {
    flex: 1 1 auto;
}
.container {
    max-width: 1300px;
    padding: 0 15px;
    margin: 0 auto;
}
.text-r{
    font-size: 10px;
    vertical-align:super;
}
/* HEADER-start=========================================================================================================================================================== */
.header {
    position: fixed;
    width: 100%;
    background-color:rgba(255, 255, 255, 0.861);
    z-index: 1000;
}
.header__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    position: relative;
}
.header__logo {
    margin-top: -15px;
}
.header__logo__img {
}
.header__nav {
    position: relative;
}
.header__list {
    display: flex;
    align-items: center;
    gap:30px
}
.header__link {
    color: #000;
    font-size: 24px;
    line-height: 120%;
    padding: 5px 8px 12px 8px;
    text-decoration: none;
    white-space: nowrap;
    position: relative;
}
.header__link::before{
    position: absolute;
    content: '';
    top: -100px;
    left: 0;
    width: 100%;
    height: 0;
    transition: all ease 300ms;
}
.header__link:hover::before{
    height: 140px;
    background-color: #99999933;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
}
.catalog-box{
    position: relative;
}
.dropdown {
}
.dropdown_active{
}
.dropdown__container {
    display: none;
}
.dropdown_active ~ .dropdown__container{
    display: block;
}
.dropdown_active{
    z-index: 200;
}
.dropdown__container{
    position: absolute;
    top: 70px;
    left: 0;
    border-radius: 0 0 0 18px;
    background: linear-gradient(rgba(255, 255, 255, 0.861),#eceff1e5);
    padding: 10px 10px 10px 10px;
    min-width: 600px;
    min-height: auto;
}
.dropdown__list{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: flex-start;
    max-width: 520px;
}
.dropdown__link{
    min-width: 100%;
    display: block;
    color: #000;
    text-decoration: none;
    font-size: 20px;
    line-height: 120%;
    padding: 10px 20px;
    margin-bottom: 15px;
    transition: all ease 0.2s;
}
.dropdown__link:last-child{
    margin-bottom: 0px;
}
.dropdown__link:hover{
    background-color: #99999933;
    border-radius: 18px;
    box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.25);

}
.dropdown__link:active{
    background-color: #9999993b;
    box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.25);
}



@media screen and (max-width: 1024px) {
    .header__row {
        padding: 14px 0;
    }
    .header__logo {
        margin-top: -10px;

    }
    .header__logo__img {
        width: 80%;
    }
    .header__list {
        gap:30px
    } 
    .header__link {
        font-size: 20px;
        line-height: 130%;
    }
    .dropdown__container{
        top: 57px;
        min-width: 450px;
        min-height: auto;
    }
    .dropdown__link{
        font-size: 18px;
        margin-bottom: 10px;
    }
}
@media screen and (max-width: 768px) {
    .header__list {
        gap:15px
    } 
    .dropdown__container{
        top: 57px;
        min-width: 410px;
    }
}

@media screen and (max-width: 700px) {
    .header{
        background-color:#FFF;
    }
    .burger{
        width: 42px;
        height: 35px;
        cursor: pointer;
        background: linear-gradient(to bottom, #84C053 20%, transparent 21%, transparent 40%, 
        #84C053 41%, #84C053 60%, transparent 61%, transparent 80%, #84C053 81%);
    }
    .burger_active{
        z-index: 100;
        border-radius: 10px;
        background: linear-gradient(50deg, transparent 45%, #84C053 46%, #84C053 55%, transparent 56%), 
        linear-gradient(-50deg, transparent 45%, #84C053 46%, #84C053 55%, transparent 56%);
    }
    .burger ~ .header__nav{
        display: none;
    }
    .burger_active ~ .header__nav{
        display: block;
    }
    .header__nav {
        position: absolute;
        top: 0;
        right: -15px;
        width: 60%;
        border-radius: 0 0 0 8px;
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
        background-color: #eceff1e5;
        padding: 30px 10px 15px 20px;
    }
    .header__list {
        display: flex;
        flex-direction: column;
        align-items:flex-start;
        gap:12px;
    }
    .header__link {
        font-size: 24px;
        padding: 0px;
    }
    .header__link::before{
        position: static;
    }
    .header__link:hover::before{
        height: 0px;
    }
    .dropdown__container{
        position:static;
        top: 70px;
        left: 0;
        border-radius: 0 0 0 18px;
        background: transparent;
        padding: 10px 0px;
        min-width: auto;
    }
    .dropdown__list{
        
    }
    .dropdown__link{
        color: #000;
        text-decoration: none;
        padding: 5px 10px;
        margin-bottom: 20px;
        transition: all ease 0.2s;
    }
}
@media screen and (max-width: 380px) {

    .header__nav {
        position: absolute;
        top: 0;
        right: -15px;
        width: 74%;
        border-radius: 0 0 0 8px;
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
        background-color: #eceff1e5;
        padding: 30px 10px 15px 20px;
    }
    .dropdown__link{
        font-size: 16px;
    }
}
/* HEADER-end=========================================================================================================================================================== */
/* CONTACT */
.contact{
    background-color: #212121E5;
    margin-top: 111px;
}
@media screen and (max-width: 1024px) {
    .contact{
        margin-top: 86.6px;
    }
}
.contact__body{
    padding: 40px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
@media screen and (max-width: 992px) {
    .contact__body{
        padding: 30px 0;
        display: flex;
        align-items: center;
        gap: 30px;
    }
}
@media screen and (max-width: 768px) {
    .contact__body{
        padding: 30px 0;
        display: flex;
        align-items: center;
        gap: 20px;
    }
}
@media screen and (max-width: 700px) {
    .contact__body{
        padding: 30px 0;
        flex-direction: column;
        align-items:flex-start;
        gap: 20px;
    }
}
/* CONTACT */

/*ADDRESS-start=========================================================================================================================================================== */

.address {
}
.address__body {
}
.address__title {
    display: block;
    color: #FFF;
    font-weight: 700;
    font-size: 27px;
    line-height: 120%;
    margin-bottom: 20px;
}
.address__contacts {
}
.item-address {
}
.item-address__link {
    display: block;
    color: #FFF;
    text-decoration: none;
    font-size: 24px;
    line-height: 120%;
    margin-bottom: 20px;
    padding: 0 0 0 30px;
}
.item-address__link:last-child {
    margin-bottom: 0px;
}
.item-address__link:hover {
    color: rgba(255, 255, 255, 0.826);

}
.item-address__map {
    background: url(../img/2address/geo.svg) 0 0 no-repeat;
    background-size: 12px 22px;
}
.item-address__mail {
    background: url(../img/2address/mail.svg) 0 0 no-repeat;
}
.item-address__tel {
    background: url(../img/2address/phone.svg) 0 0 no-repeat;
}
@media screen and (max-width: 1024px) {
}
@media screen and (max-width: 992px) {
    .item-address__link{
        font-size: 20px;
    }
}
@media screen and (max-width: 768px) {
    .item-address__link{
        font-size: 16px;
    }
    .item-address__map {
        background: url(../img/2address/geo.svg) 0 0 no-repeat;
        background-size: 12px 22px;
    }
}
@media screen and (max-width: 700px) {
    .address__title {
        font-size: 22px;
        margin-bottom: 25px;
    }
    .item-address__link {
        font-size: 14px;
        padding: 0 0 9px 30px;
    }
}
/*ADDRESS-end=========================================================================================================================================================== */

/*GEO-start=========================================================================================================================================================== */

.geo {
}
.geo__body {
}
.geo__box-img {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 550px;
    height: auto;
}
.img__geo {
    width: 100%;
    height: auto;
    border-radius: 18px;
}

@media screen and (max-width: 992px) {

}
@media screen and (max-width: 768px) {
    .geo__box-img {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 350px;
        height: auto;
    }
}
@media screen and (max-width: 700px) {
    .geo__box-img {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 450px;
        height: auto;
    }
}
/*GEO-end=========================================================================================================================================================== */
/*CALL-start=========================================================================================================================================================== */

.call {
    background-color: #212121E5;
}
.container {
}
.call__body {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 0 40px 0;
}
.call__text {
    color: #FFF;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
}
@media screen and (max-width: 992px) {
    .call__body {
        padding: 0 0 30px 0;
    }
}
@media screen and (max-width: 992px) {
    .call__text {
        font-size: 20px;
    }
}
@media screen and (max-width: 700px) {
    .call__text {
        font-size: 16px;
    }
}
/*CALL-end=========================================================================================================================================================== */

/*FORM-start=========================================================================================================================================================== */


.form{
    background-color: #69B32D80;
}
.form__body{
    padding: 40px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form__container{
    width: 100%;
    max-width: 600px;
}
.form__title {
    color: #212121E5;
    font-weight: 700;
    font-size: 27px;
    line-height: 120%;
    margin-bottom: 30px;
    text-align: center;
}
.form__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.input__box{
    margin-bottom: 10px;
    width: 100%;
    max-width: 375px;
    height: 60px;
}
.input__box input{
    width: 100%;
    height: 100%;
    font-weight: 300;
    font-size: 18px;
    padding: 20px 18px;
    border-radius: 18px;
    outline: none;
    border: none;
    border: 2px solid rgb(185, 185, 185);
    background-color: #FFFFFF;
}

.input__box input:focus{
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.25);
}
.form__button{
    display: inline-block;
}
.form__button input[type = "submit"]{
    color: #FFF;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    background-color: #69B32D;
    border: none;
    outline: none;
    border-radius: 18px;
    padding: 10px 25px;
    transition: all ease 0.1s;
}
.form__button input[type = "submit"]:hover{
    background-color: #79ba43;
    position: relative;
    box-shadow: 0 2px 0 #35740281;
    
}
.form__button input[type = "submit"]:active{
    position: relative;
    top: 2px;
    box-shadow: 0 1px 0 #35740281;
}


@media screen and (max-width: 700px) {
    .form__title {
        font-size: 22px;
    }
    .form__button input[type = "submit"]{
        font-size: 22px;
    }
}


/*FORM-end=========================================================================================================================================================== */

/* FOOTER-start=========================================================================================================================================================== */

.footer {
    background-color: #212121E5;
    padding: 40px 0;
}
.container {
}
.footer__wrapper {
}
.footer__body {
}
.footer__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__column {
}
.footer__item {
}
.footer__item-left{
}
.footer__item__label {
    color: #FFF;
    font-weight:700;
    font-size: 27px;
    line-height: 120%;
    margin-bottom: 30px;
}
.footer__item__contact {
}
.contacts-footer {
    
}
.contacts-footer__link {
    display: block;
    color: #FFF;
    text-decoration: none;
    font-weight: 500;
    font-size: 24px;
    line-height: 120%;
    margin-bottom: 20px;
    padding: 0 0 0 30px;
}
.contacts-footer__link:hover {
    color: rgba(255, 255, 255, 0.826);
}

.contacts-footer__map {
    background: url(../img/6footer/icons/geo.svg) 0 0 no-repeat;
}
.contacts-footer__mail {
    background: url(../img/6footer/icons/mail.svg) 0 0 no-repeat;
}
.contacts-footer__tel {
    background:  url(../img/6footer/icons/phone.svg) 0 0 no-repeat;
}
.contacts-footer__mail:hover {
    text-decoration: underline;
}
.contacts-footer__tel:hover {
    text-decoration: underline;
}
.footer__item-right{
}
.footer__item__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 70px;
}
.img-footer__logo {
    max-width: 100%;
}
.footer__item__sublogo {
    color: #FFF;
    font-weight: 500;
    font-size: 24px;
    line-height: 120%;
}
@media screen and (max-width: 992px) {
    .footer {
        padding: 30px 0;
    }
    .contacts-footer__link {
        font-size: 20px;
    }
    .footer__item__sublogo {
        font-size: 20px;
    }

}
@media screen and (max-width: 768px) {
    .contacts-footer__map {
        background: url(../img/6footer/icons/geo.svg) 0 0 no-repeat;
        background-size: 12px 22px;
    }
    .contacts-footer__link {
        font-size: 16px;
    }
    .footer__item__sublogo {
        font-size: 16px;
    }
    .footer__item__logo {
        margin-bottom: 50px;
    }
    .img-footer__logo {
        max-width: 80%;
    }
}
@media screen and (max-width: 700px) {
    .footer__row {
        flex-wrap: wrap;
    }
    .footer__column {
        flex: 1 1 100%;
    }
    .footer__item-right{
        display:flex;
        justify-content: space-between;
        align-items: flex-end;
        /* flex-direction: row-reverse; */
    }
    .footer__item__logo {
        display: block;
        margin-bottom: 0px;
    }
    .footer__item__label {
        font-size: 22px;
        margin-bottom: 25px;
    }
    .contacts-footer__link {
        font-size: 14px;
        padding: 0 0 9px 30px;
    }
    .footer__item__sublogo {
        font-size: 14px;
    }
}
/* FOOTER-and=========================================================================================================================================================== */
